<ng-select class="custom"></ng-select>

<!--<div class="home">-->
<!--  <div class="c-dash" data-v-2f531d0f="">-->
<!--    <div class="container" data-v-2f531d0f="">-->
<!--      <div class="c-dash__info-top" data-v-2f531d0f=""><label class="c-select__form-field" data-v-2f531d0f=""> Selecione-->
<!--        um País <select data-v-2f531d0f="">-->
<!--          <option value="Brasil" data-v-2f531d0f="">Brasil</option>-->
<!--          <option value="Italia" data-v-2f531d0f="">Italia</option>-->
<!--          <option value="Estados Unidos" data-v-2f531d0f="">Estados Unidos</option>-->
<!--          <option value="China" data-v-2f531d0f="">China</option>-->
<!--        </select></label>&lt;!&ndash;                <span class="country">&ndash;&gt;&lt;!&ndash;                    Brasil&ndash;&gt;-->
<!--        &lt;!&ndash;                    <ul class="country__options">&ndash;&gt;&lt;!&ndash;                        <li>Brasil</li>&ndash;&gt;-->
<!--        &lt;!&ndash;                        <li>China</li>&ndash;&gt;&lt;!&ndash;                        <li>Italia</li>&ndash;&gt;-->
<!--        &lt;!&ndash;                        <li>Estado Unidos</li>&ndash;&gt;&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--        &lt;!&ndash;                </span>&ndash;&gt;-->
<!--        &lt;!&ndash;                <router-link class="go-to-states" to="/state">Ver por estado</router-link>&ndash;&gt;</div>-->
<!--      <div class="c-dash__container" data-v-2f531d0f="">-->
<!--        <div class="c-info-card is&#45;&#45;yellow c-dash__card" data-v-2f531d0f="" data-v-5ed9055a="">-->
<!--          <div class="c-info-card__top-info" data-v-5ed9055a="">-->
<!--            <div class="c-info-card__people-icon" data-v-5ed9055a="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="12.454" height="11.762" viewBox="0 0 12.454 11.762"-->
<!--                   data-v-5ed9055a="">-->
<!--                <path id="Icon"-->
<!--                      d="M6.308,11.7a.5.5,0,0,1-.2-.685L7.617,8.33l-2.359-1.9L4.23,8.979a.512.512,0,0,1-.425.316L.57,9.631c-.018,0-.037,0-.055,0A.5.5,0,0,1,.461,8.629l2.925-.3L4.561,5.416a.485.485,0,0,1,.11-.167l2.095-2.1L5.4,2.08,3.748,3.741a.523.523,0,0,1-.729.01.5.5,0,0,1-.011-.712L4.985,1.049a.526.526,0,0,1,.692-.042L9.928,4.339,11.577,2.75a.524.524,0,0,1,.729,0,.5.5,0,0,1-.006.713l-1.975,1.9a.523.523,0,0,1-.684.034L7.573,3.786,5.8,5.563,8.6,7.817a.5.5,0,0,1,.125.633L7.008,11.5a.517.517,0,0,1-.452.261A.524.524,0,0,1,6.308,11.7ZM7.874,1.233a1.26,1.26,0,0,1,2.519,0,1.26,1.26,0,0,1-2.519,0Z"></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--            <div class="c-info-card__card-title" data-v-5ed9055a="">Confirmed Cases</div>-->
<!--          </div>-->
<!--          <div class="c-info-card__main-info" data-v-5ed9055a="">-->
<!--            <div class="c-info-card__numbers" data-v-5ed9055a="">-->
<!--              <div class="numbers" data-v-5ed9055a="">1,062</div>-->
<!--              <div class="label" data-v-5ed9055a="">peolple</div>-->
<!--            </div>-->
<!--            <div class="c-info-card__porcentage-icon" data-v-5ed9055a="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="65.29" height="29.002" viewBox="0 0 65.29 29.002"-->
<!--                   data-v-5ed9055a="">-->
<!--                <path id="Main_Line" data-name="Main Line"-->
<!--                      d="M0,23.875l5.307-7.936a1.384,1.384,0,0,1,2.32.03l4.642,7.347a1.384,1.384,0,0,0,1.955.4l1.793-1.235A1.384,1.384,0,0,1,18,22.933l3.045,5.3a1.384,1.384,0,0,0,2.518-.266l4.144-12.922a1.384,1.384,0,0,1,2.589-.123l1.544,3.6a1.384,1.384,0,0,0,2.022.617l3.911-2.523a1.384,1.384,0,0,1,1.833.3L44.056,22.5a1.384,1.384,0,0,0,2.4-.444L52.37,3.383a2.076,2.076,0,0,1,3.946-.036l2,5.94a1.384,1.384,0,0,0,2.338.487L62.49,7.745"-->
<!--                      transform="translate(1.387 -0.934)" fill="none" stroke="#0d8e53" stroke-linecap="round"-->
<!--                      stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="c-info-card is&#45;&#45;red c-dash__card" data-v-2f531d0f="" data-v-5ed9055a="">-->
<!--          <div class="c-info-card__top-info" data-v-5ed9055a="">-->
<!--            <div class="c-info-card__people-icon" data-v-5ed9055a="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="12.454" height="11.762" viewBox="0 0 12.454 11.762"-->
<!--                   data-v-5ed9055a="">-->
<!--                <path id="Icon"-->
<!--                      d="M6.308,11.7a.5.5,0,0,1-.2-.685L7.617,8.33l-2.359-1.9L4.23,8.979a.512.512,0,0,1-.425.316L.57,9.631c-.018,0-.037,0-.055,0A.5.5,0,0,1,.461,8.629l2.925-.3L4.561,5.416a.485.485,0,0,1,.11-.167l2.095-2.1L5.4,2.08,3.748,3.741a.523.523,0,0,1-.729.01.5.5,0,0,1-.011-.712L4.985,1.049a.526.526,0,0,1,.692-.042L9.928,4.339,11.577,2.75a.524.524,0,0,1,.729,0,.5.5,0,0,1-.006.713l-1.975,1.9a.523.523,0,0,1-.684.034L7.573,3.786,5.8,5.563,8.6,7.817a.5.5,0,0,1,.125.633L7.008,11.5a.517.517,0,0,1-.452.261A.524.524,0,0,1,6.308,11.7ZM7.874,1.233a1.26,1.26,0,0,1,2.519,0,1.26,1.26,0,0,1-2.519,0Z"></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--            <div class="c-info-card__card-title" data-v-5ed9055a="">Confirmed Cases</div>-->
<!--          </div>-->
<!--          <div class="c-info-card__main-info" data-v-5ed9055a="">-->
<!--            <div class="c-info-card__numbers" data-v-5ed9055a="">-->
<!--              <div class="numbers" data-v-5ed9055a="">1,062</div>-->
<!--              <div class="label" data-v-5ed9055a="">peolple</div>-->
<!--            </div>-->
<!--            <div class="c-info-card__porcentage-icon" data-v-5ed9055a="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="65.29" height="29.002" viewBox="0 0 65.29 29.002"-->
<!--                   data-v-5ed9055a="">-->
<!--                <path id="Main_Line" data-name="Main Line"-->
<!--                      d="M0,23.875l5.307-7.936a1.384,1.384,0,0,1,2.32.03l4.642,7.347a1.384,1.384,0,0,0,1.955.4l1.793-1.235A1.384,1.384,0,0,1,18,22.933l3.045,5.3a1.384,1.384,0,0,0,2.518-.266l4.144-12.922a1.384,1.384,0,0,1,2.589-.123l1.544,3.6a1.384,1.384,0,0,0,2.022.617l3.911-2.523a1.384,1.384,0,0,1,1.833.3L44.056,22.5a1.384,1.384,0,0,0,2.4-.444L52.37,3.383a2.076,2.076,0,0,1,3.946-.036l2,5.94a1.384,1.384,0,0,0,2.338.487L62.49,7.745"-->
<!--                      transform="translate(1.387 -0.934)" fill="none" stroke="#0d8e53" stroke-linecap="round"-->
<!--                      stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="c-info-card is&#45;&#45;green c-dash__card" data-v-2f531d0f="" data-v-5ed9055a="">-->
<!--          <div class="c-info-card__top-info" data-v-5ed9055a="">-->
<!--            <div class="c-info-card__people-icon" data-v-5ed9055a="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="12.454" height="11.762" viewBox="0 0 12.454 11.762"-->
<!--                   data-v-5ed9055a="">-->
<!--                <path id="Icon"-->
<!--                      d="M6.308,11.7a.5.5,0,0,1-.2-.685L7.617,8.33l-2.359-1.9L4.23,8.979a.512.512,0,0,1-.425.316L.57,9.631c-.018,0-.037,0-.055,0A.5.5,0,0,1,.461,8.629l2.925-.3L4.561,5.416a.485.485,0,0,1,.11-.167l2.095-2.1L5.4,2.08,3.748,3.741a.523.523,0,0,1-.729.01.5.5,0,0,1-.011-.712L4.985,1.049a.526.526,0,0,1,.692-.042L9.928,4.339,11.577,2.75a.524.524,0,0,1,.729,0,.5.5,0,0,1-.006.713l-1.975,1.9a.523.523,0,0,1-.684.034L7.573,3.786,5.8,5.563,8.6,7.817a.5.5,0,0,1,.125.633L7.008,11.5a.517.517,0,0,1-.452.261A.524.524,0,0,1,6.308,11.7ZM7.874,1.233a1.26,1.26,0,0,1,2.519,0,1.26,1.26,0,0,1-2.519,0Z"></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--            <div class="c-info-card__card-title" data-v-5ed9055a="">Confirmed Cases</div>-->
<!--          </div>-->
<!--          <div class="c-info-card__main-info" data-v-5ed9055a="">-->
<!--            <div class="c-info-card__numbers" data-v-5ed9055a="">-->
<!--              <div class="numbers" data-v-5ed9055a="">1,062</div>-->
<!--              <div class="label" data-v-5ed9055a="">peolple</div>-->
<!--            </div>-->
<!--            <div class="c-info-card__porcentage-icon" data-v-5ed9055a="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="65.29" height="29.002" viewBox="0 0 65.29 29.002"-->
<!--                   data-v-5ed9055a="">-->
<!--                <path id="Main_Line" data-name="Main Line"-->
<!--                      d="M0,23.875l5.307-7.936a1.384,1.384,0,0,1,2.32.03l4.642,7.347a1.384,1.384,0,0,0,1.955.4l1.793-1.235A1.384,1.384,0,0,1,18,22.933l3.045,5.3a1.384,1.384,0,0,0,2.518-.266l4.144-12.922a1.384,1.384,0,0,1,2.589-.123l1.544,3.6a1.384,1.384,0,0,0,2.022.617l3.911-2.523a1.384,1.384,0,0,1,1.833.3L44.056,22.5a1.384,1.384,0,0,0,2.4-.444L52.37,3.383a2.076,2.076,0,0,1,3.946-.036l2,5.94a1.384,1.384,0,0,0,2.338.487L62.49,7.745"-->
<!--                      transform="translate(1.387 -0.934)" fill="none" stroke="#0d8e53" stroke-linecap="round"-->
<!--                      stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="c-info-card is&#45;&#45;purple c-dash__card" data-v-2f531d0f="" data-v-5ed9055a="">-->
<!--          <div class="c-info-card__top-info" data-v-5ed9055a="">-->
<!--            <div class="c-info-card__people-icon" data-v-5ed9055a="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="12.454" height="11.762" viewBox="0 0 12.454 11.762"-->
<!--                   data-v-5ed9055a="">-->
<!--                <path id="Icon"-->
<!--                      d="M6.308,11.7a.5.5,0,0,1-.2-.685L7.617,8.33l-2.359-1.9L4.23,8.979a.512.512,0,0,1-.425.316L.57,9.631c-.018,0-.037,0-.055,0A.5.5,0,0,1,.461,8.629l2.925-.3L4.561,5.416a.485.485,0,0,1,.11-.167l2.095-2.1L5.4,2.08,3.748,3.741a.523.523,0,0,1-.729.01.5.5,0,0,1-.011-.712L4.985,1.049a.526.526,0,0,1,.692-.042L9.928,4.339,11.577,2.75a.524.524,0,0,1,.729,0,.5.5,0,0,1-.006.713l-1.975,1.9a.523.523,0,0,1-.684.034L7.573,3.786,5.8,5.563,8.6,7.817a.5.5,0,0,1,.125.633L7.008,11.5a.517.517,0,0,1-.452.261A.524.524,0,0,1,6.308,11.7ZM7.874,1.233a1.26,1.26,0,0,1,2.519,0,1.26,1.26,0,0,1-2.519,0Z"></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--            <div class="c-info-card__card-title" data-v-5ed9055a="">Confirmed Cases</div>-->
<!--          </div>-->
<!--          <div class="c-info-card__main-info" data-v-5ed9055a="">-->
<!--            <div class="c-info-card__numbers" data-v-5ed9055a="">-->
<!--              <div class="numbers" data-v-5ed9055a="">1,062</div>-->
<!--              <div class="label" data-v-5ed9055a="">peolple</div>-->
<!--            </div>-->
<!--            <div class="c-info-card__porcentage-icon" data-v-5ed9055a="">-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="65.29" height="29.002" viewBox="0 0 65.29 29.002"-->
<!--                   data-v-5ed9055a="">-->
<!--                <path id="Main_Line" data-name="Main Line"-->
<!--                      d="M0,23.875l5.307-7.936a1.384,1.384,0,0,1,2.32.03l4.642,7.347a1.384,1.384,0,0,0,1.955.4l1.793-1.235A1.384,1.384,0,0,1,18,22.933l3.045,5.3a1.384,1.384,0,0,0,2.518-.266l4.144-12.922a1.384,1.384,0,0,1,2.589-.123l1.544,3.6a1.384,1.384,0,0,0,2.022.617l3.911-2.523a1.384,1.384,0,0,1,1.833.3L44.056,22.5a1.384,1.384,0,0,0,2.4-.444L52.37,3.383a2.076,2.076,0,0,1,3.946-.036l2,5.94a1.384,1.384,0,0,0,2.338.487L62.49,7.745"-->
<!--                      transform="translate(1.387 -0.934)" fill="none" stroke="#0d8e53" stroke-linecap="round"-->
<!--                      stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"></path>-->
<!--              </svg>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <button class="c-dash__button-arrow" data-v-2f531d0f=""><span class="arrow" data-v-2f531d0f=""></span></button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="c-dash__updated-date container" data-v-2f531d0f="">ultima atualização: 12/01/2010 12:00:00</div>-->
<!--  <section class="container"><h2 class="prevents__title">Preventions</h2>-->
<!--    <div class="prevents__hints">-->
<!--      <div class="prevents__item"><img src="/assets/svg/wash-hands.svg" alt="">-->
<!--        <div class="prevents__text">Wash Hands</div>-->
<!--      </div>-->
<!--      <div class="prevents__item"><img src="/assets/svg/use-masks.svg" alt="">-->
<!--        <div class="prevents__text">Use Masks</div>-->
<!--      </div>-->
<!--      <div class="prevents__item"><img src="/assets/svg/clean-disinfect.svg" alt="">-->
<!--        <div class="prevents__text">Clean Disinfect</div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="prevents__help-phone"><img src="/assets/svg/medical-help.svg" alt=""></div>-->
<!--  </section>-->
<!--</div>-->
